.likes_page_container{
    padding: 3rem 2rem 7rem;
}
    .likes_container{
        display: flex;
        width: 100%;
        gap: 1rem;
        border-radius: 16px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

.loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}